{
  "root": true,
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "prettier",
    "styled-components-bokun",
    "graphql"
  ],
  "extends": [
    "eslint:recommended",
    "prettier",
    "prettier/react",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"  // Uses the recommended rules from the @typescript-eslint/eslint-plugin
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "builtin": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/no-submodule-imports": "off",
    "@typescript-eslint/interface-name-prefix": "off"
  }
}
/*{
  "plugins": ["graphql"],
  "rules": {
    "graphql/template-strings": ["error", { "env": "apollo" }],
    "graphql/named-operations": "warn",
    "graphql/required-fields": ["error", { "env": "apollo", "requiredFields": [] }],
    "graphql/capitalized-type-name": "error",
    "graphql/no-deprecated-fields": ["warn", { "env": "apollo" }]
  }
}*/

